h6 {
	background-color: #666666;
	clear: both;
	position: static;
	border-style: solid hidden hidden hidden;
	border-width: 10px;
	border-color: #4aaaa5;
	padding: 40px;
	color: #dddddd;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}
.icons {
	width: 56px;
	height: 56px;
	padding: 2px;
	margin-left: 14px;
}

.underline {
	text-decoration: none;
}
​#profile {
	float: left;
	padding: 20px;
	width: 200px;
	height: 200px;
}
.label1 {
	background-color: #4aaaa5;
	width: 300px;
	height: 40px;
	color: white;
	position: absolute;
	text-align: center;
	margin-top: 3.5cm;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.label2 {
	background-color: #4aaaa5;
	width: 300px;
	height: 40px;
	color: white;
	position: absolute;
	right: 0px;
	margin-right: 11.32cm;
	text-align: center;
	margin-top: 3.5cm;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.placeholder {
	width: 300px;
	height: 200px;
}
.teal {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-left: .40cm;
}
h1 span {
	background-color: #4aaaa5;
	color: white;
	padding: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	display: inline-block;
	float:left;
	margin-top: .65cm;
	margin-left: 2.75cm;
}
​#moveright {
	float: right;
	margin-right: 4cm;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #9b98a0;

}
​.li {
	display: inline-block;
	padding: 10px;
	margin-top: 1.25cm;
}
#around {
	border-style: hidden solid hidden solid;
	border-color: #dddddd;
}
header {
	height: 100px;
	background-color: #ffffff;
	border-style: hidden hidden solid hidden;
	border-color: #cccccc;
}
.content {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	width: 650px;
	border-style: solid;
	border-color: #cccccc;
	line-height: 25px;
	color: #777777;
	clear: both;
	float: left;
	margin-bottom: 1.5cm;
	margin-top: 1.5cm;
	margin-left: 2.75cm;
	background-color: #ffffff;
	padding: 10px;
}

hr {
	border-color: #ffffff;
	width: 95%;
}
​.box {
	width: 95%;
	height: 20px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}
.space {
	padding: 4px;
	margin-left: .40cm;
}
​
#change {
	width: 95%;
	height: 150px;
}
button {
	background-color: #4aaaa5;
	padding: 9px;
	width: 3cm;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 15px;
	margin-left: .40cm;
}
.left {
	float: left;
	padding-right: 20px;
	padding-left: 20px;
}

.connect {
	border-style: solid;
	border-color: #cccccc;
	width: 250px;
	height: 182px;
	float: right;
	margin-top: 1.5cm;
	padding: 10px;
	margin-right: 2.75cm;
	background-color: #ffffff;
}

#side {
	margin-bottom: 20px;
}
li{
	display: inline-block;
	color: grey;
	float: right;
	margin-right: 20px;
	margin-top: 30px;
}
p{
	float: right;
}
img{
	float: left;
}
